{%load bootstrap4 %} {% load static %}
<html>

<head>
    <meta charset="utf-8">
    <title> portfolio</title>
    {%block styles%} {%bootstrap_css%}
    <link rel="stylesheet" href="{%static 'css/wesley.css'%}">{% endblock %}
<!-- Start of Async Drift Code -->
<script>
    "use strict";

    !function () {
        var t = window.driftt = window.drift = window.driftt || [];
        if (!t.init) {
            if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
            t.invoked = !0, t.methods = ["identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on"],
                t.factory = function (e) {
                    return function () {
                        var n = Array.prototype.slice.call(arguments);
                        return n.unshift(e), t.push(n), t;
                    };
                }, t.methods.forEach(function (e) {
                    t[e] = t.factory(e);
                }), t.load = function (t) {
                    var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
                    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
                    var i = document.getElementsByTagName("script")[0];
                    i.parentNode.insertBefore(o, i);
                };
        }
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('i7yrczs7eiw8');
</script>
</head>
<body>

<!-- Start Nav Section -->
<nav id="navbar" class="navbar">
    <ul class="nav-menu">
        <li>
            <a data-scroll="home" href="#home" class="dot active">
                <span>Home</span>
            </a>
        </li>
        <li>
            <a data-scroll="about" href="#about" class="dot">
                <span>About me </span>
            </a>
        </li>
        <li>
            <a data-scroll="services" href="#services" class="dot">
                <span>Projects</span>
            </a>
        </li>
        <li>
            <a data-scroll="test" href="#test" class="dot">
                <span>Languages Known</span>
            </a>
        </li>
        <li>
            <a data-scroll="contact" href="#contact" class="dot">
                <span> Contact</span>
            </a>
        </li>
    </ul>
</nav>
<!-- End Nav Section -->

<!-- Start Home Section -->
<section id="home" class="section">
    <div class="container">
        <div class="content-wrapper text-center">
            <div class="content">
                <h1 class="line-1 anim-typewriter">Hi, I'm Wesley Mutwiri, A Full stack Developer</h1>
                <p>
                    <br /> </p>
                <button><a href="https://www.github.com/wesleymutwiri" target="_blank"> Github </a></button>
            </div>
        </div>
    </div>
</section>
<!-- End Home Section -->

<!-- Start About Me Section -->
<section id="about">
    <div class="container text-center">
        <h2>Hobbies</h2>
        <p>My name is Wesley Mutwiri. I'm a programmer who loves to build and try new things. I live in Nairobi, Kenya and have multiple
        hobbies that can be found in the hobbies section of this same page. I have no pictures as per now but just know I'm very
        handsome according to recommendations from my mum. If you need any assistance I'm a friendly face that is usually available.</p>
        Hobbies include:
        <ul>
            <li>Watching various series</li>
            <li>Playing video games</li>
            <li>Football fan(Manchester United X Real Madrid )</li>
            <li>Travelling and visting new places</li>
            <li>Watching memes and vines</li>
            <li>Reading books </li>
            <li>Coding </li>
        
            <li>And Sleeping of course</li>
        
        </ul>
    </div>
</section>
<!-- End About Me Section -->

<!-- Start Projects Section -->
<section id="services" class="section">
    <div class="container">
        <div class="content-wrapper text-center">
            <div class="content">
                <h2>Personal Projects done</h2>
                    <div class="container space">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="hovereffect">
                                    <img class="img-responsive" src="static/img/splashinterest.png" alt="">
                                    <div class="overlay">
                                        <h2>SplashInterest</h2>
                                        <p>
                                            <a href="https://splashinterest.herokuapp.com/">Splashinterest</a>
                                            The better version of instagram
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="hovereffect">
                                    <img class="img-responsive" src="static/img/articlevue.png" alt="">
                                    <div class="overlay">
                                        <h2>Article Vue</h2>
                                        <p>
                                            <a href="https://articlevue.herokuapp.com/">Article vue</a>
                                            An application that uses vuejs as frontend and django backend 
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="row space">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="hovereffect">
                                    <img class="img-responsive" src="static/img/scriptshell.png" alt="">
                                    <div class="overlay">
                                        <h2>Django script shell</h2>
                                        <p>
                                            <a href="https://github.com/wesleymutwiri/django-script-shell/">Django script shell</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="hovereffect">
                                    <img class="img-responsive" src="static/img/kilogram.png" alt="">
                                    <div class="overlay">
                                        <h2>Kilogram</h2>
                                        <p>
                                            The clone version of instagram
                                            <a href="https://thenewshighlight.herokuapp.com/">CLICK HERE</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- End Services Section -->

<!-- Start Languages Section -->
<section id="test" class="section">
    <div class="container">
        <div class="content-wrapper text-center">
            <div class="content">
                <h1>Programming Languages Known</h1>
                <p>Python</p>
                <p>javascript</p>
                <p>Django</p>
                <p>Flask</p>
                <p>Angular 5</p>
                <p>Vue Js</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Languages Section -->

<!-- Start Contact Section -->
<section id="contact">
    <div class="container">
        <div class="content-wrapper text-center">
            <div class="content">
                <h2>Contact Me</h2>
                <p></p>
                <p class="mail">wesleymochiemo@gmail.com</p>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Section -->


<!-- Start Footer Section -->
<footer>
    <div class="container text-center">
        <p>&copy; Wesley Mutwiri</p>
    </div>
</footer>
<!-- End Footer Section -->
    {% block scripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{%static 'js/wesley.js'%}"></script>
    {% bootstrap_javascript %} {% endblock %}
</body>

</html>