{%extends 'wesley/base.html'%}
{%load static %}
{%block content%}
<header id="header">
    <div class="vert-text">
        <div id="particles"></div>
        <div class="p-img">
            <img src="https://res.cloudinary.com/pashagord/image/upload/v1468545314/Portfolio/logos/codepen_logo.png" />
        </div>
        <h1 id="typer-size">
            <!-- TEXTS -->
            <span id="typed"></span>
            <div id="typed-strings">
                <p>Codepen</span>
                </p>
                <p>I'm Wesley</p>
                <p>
                    <span class="#">Let's Code</span>
                </p>
                <p>I like web development</p>
                <p>I love coding</p>
                <p>DJANGO</p>
                <p>PYTHON</p>
                <p>JAVASCRIPT</p>
                <p>CSS</p>
                <p>FLASK</p>
                <p>VUE JS</p>
            </div>
            <!-- TEXTS ENDS -->
        </h1>
        <!-- TITLE -->

        <h3>Wesley | yelseW</h3>
        <a href="#contacts" class="scroll-down nav-link"></a>
    </div>
</header>
<!-- FOOTER  -->
<footer id="contacts">
    <div class="container">
        <div class="row">
        </div>
    </div>
</footer>
{%endblock%}
